<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <a routerLink="" class="navbar-brand">Home</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a routerLink="/Loan">Mortgage Loan Calculator</a></li>
        </ul>    
    </div>
</nav>

