<div class="container body-content">
  <div class="row">
    <form class="form-horizontal col-sm-6 col-sm-offset-2" [formGroup]="loanCalculationForm" (ngSubmit)="handleReactiveSubmit(loanCalculationForm)">
      <div class="form-group">
        <label class="control-label col-sm-6">Amount</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i></span>       
          <input type="text" class="form-control" formControlName="amount">
        </div>
        <div *ngIf="!formValidatedAmount" class="alert-danger col-sm-offset-7">Please enter a number greater than 0!</div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-6">Payback time in years </label>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>          
            <input type="text" class="form-control" formControlName="paybackInYears">            
        </div>
        <div *ngIf="!formValidatedPeriod" class="alert-danger col-sm-offset-7">Please enter a number greater than 0!</div>
      </div>

      <div class="form-group"> 
        <div class="col-sm-offset-10 col-sm-2">
          <button class="btn btn-default" [disabled]='!formValid'>Calculate</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-8 col-sm-offset-2" *ngIf ="(instalments$ | async) as instalments">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>interest</th>
          <th>corpus</th>
          <th>instalment</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let instalment of instalments">
          <td>{{instalment.instalmentNumber}}</td>
          <td> {{instalment.interest | currency:'EUR'}}</td>
          <td> {{instalment.corpus | currency:'EUR'}}</td>
          <td> {{(instalment.interest+instalment.corpus) | currency:'EUR'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


